.container {
  display: flex;
  height: calc(100% - 70px);
  overflow-y: scroll;
}

.postContainer {
  width: 70%;
}

.notification {
  width: 30%;
}

.postCard {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
