.container {
  display: flex;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.postContainer {
  width: 70%;
  margin: 32px 0;
}

.notification {
  width: 30%;
}

.postCard {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
