.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex-shrink: 0;
  width: 250px;
  background-color: #e0f2fe;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  width: 100%;
}
