/*
  color
*/
/* 背景後で修正する*/
$base-gradation: linear-gradient(90deg, rgb(213, 179, 255) 0%, rgba(174, 189, 252) 44%, rgba(129, 230, 215) 100%);
$white: #fff;
$white-40: rgba(255, 255, 255, 0.4);
$navy-30: rgba(103, 113, 154, 0.3);
$navy: #67719a;
$purple: #aebdfc;
$pink: #d5b3ff;

/* グローバルに使用するフォントファミリーを設定 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');
$font-family: 'Zen Kaku Gothic New', sans-serif;
